{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('general') }}   
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('popModal') }}
{% endblock %}

{% block body %}
    <main class="centVH img-bk" style="background-image: url({{ asset('build/img/gen/mobile.jpg') }});">
        <div class="modal fade " id="popModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog centVH disp-center">
                <div class="modal-content bk-shdw1 padx1 pady2">
                    <h1 class="txt-succ">LOGIN</h1>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <hr class="hr-succ">
                    <form method="post">
                        <label class="form-label" for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label class="form-label" for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        <label class="form-label" for="inputPassword">
                        <input class="form-check-input" type="checkbox" name="_remember_me">Remember me / Se souvenir de moi</label>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <hr class="hr-succ">
                        <button class="butn butn-succ" type="submit">
                            Sign in
                        </button>
                    </form> 
                    
                </div>
            </div>
        </div>
    </main>





{% endblock %}
