{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('general') }}   
{% endblock %}

{% block javascripts %}   
{% endblock %}

{% block body %}
<header class="fluid ">
    <img src="{{ asset('build/img/gen/room1.jpg') }}" alt="sofa" class="fluid">
</header>
<nav>
    <h1 class="cent">Bienvenue sur Insidiome</h1>
</nav>
<section>

</section>
{% endblock %}
