{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('general') }}   
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('popModal') }}
{% endblock %}

{% block body %}
    <main class="centVH img-bk" style="background-image: url({{ asset('build/img/gen/mobile.jpg') }});">
        <div class="modal fade " id="popModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog centVH disp-center">
                <div class="modal-content bk-shdw1 padx1 pady2">
                    {% for flash_error in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}

                    <h1 class="txt-succ">Register</h1>
                    <hr class="hr-succ">

                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.pseudo) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms) }}
                        <hr class="hr-succ">
                        <div class="fluid center">
                            <button type="submit" class="butn butn-succ">Register</button>
                        </div>
                        

                        
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </main>
   
{% endblock %}
