.butn {
    display: inline-block;
    padding: 2px 12px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 3px;
}

.butn:hover {
    transform: scale(1.1);
}

.butn-succ {
    background-image: linear-gradient(to bottom, var(--succ2), var(--succ3));
    color: white;
    border: 2px solid var(--succ);
}

.butn-out {
    background-color: transparent;
    transition-duration: 0.4s;
}
.butn-out-succ {
    background-color: transparent;
    color: var(--succ);
    border: 2px solid var(--succ);
}

.butn-out-succ:hover {
    background-image: linear-gradient(to bottom, var(--succ2), var(--succ3));
    color: var(--lum);
}

/* // .butn-anim {
//     animation: border-animate 2s infinite;
// } */



@keyframes border-animate {
    0% {
        border-color: #106a37;
    }
    50% {
        border-color: #0c8b3d;
    }
    100% {
        border-color: #106a37;
    }
}

.butn-anim {
    position: relative;
    animation: anim 2s ease-in-out infinite;
}

@keyframes anim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.butn-glow {
    position: relative;
    animation: glowSucc 2s ease-in-out infinite;
}

/* // .butn-glow-succ {
//     background-image: linear-gradient(to bottom, var(--succ2), var(--succ3));
//     color: #fff;
// } */

@keyframes glowSucc {
    0% {
        box-shadow: 0 0 0 0 var(--succ); 
    }
    50% {
        box-shadow: 0 0 40px 20px rgba(16, 106, 55, 0); 
    }
    100% {
        box-shadow: 0 0 0 0 var(--succ);
    }
}