:root {

    --primL: #98C1D9;
    --primD: #052F5F;
    --succ: #4eb151;
    --warning: #FF9933; /* orange vif */
    --danger: #FF3333; /* rouge vif */

    --obsc: #242628;
    --lum: #dee2e6;  

    --secLight: #8FBCCA;
    --thirLight:  #5D9FBA;
    --secDark: #3C7693;
    --thirDark: #0d2739;

    --succ2: #106a37;
    --succ3: #0c8b3d;

    --light-green-1: #ebf9e7;
    --light-green-2: #d7f2d2;
    --light-green-3: #c4eca5;
    --light-green-4: #b1e597;
  
    --medium-green-1: #9bdb80;
    --medium-green-2: #85cf6a; 
  
    --main-green: #4eb151;
  
    --dark-green-1: #3c9344;
    --dark-green-2: #2d7c37; 
    --dark-green-3: #1e6429;
    --dark-green-4: #0f4d1c;
    --dark-green-5: #06361a;
    --dark-green-6: #031e12;

    --light-blue-1: #e9f0f8;
    --light-blue-2: #d0e2ef;
    --medium-blue-1: #98c1d9;
    --medium-blue-2: #85b2cc;
    --medium-blue-3: #6da3bf;
    --medium-blue-4: #5693b1;
    --central-blue: #4384a4; 
    --dark-blue-1: #2f6d9d;
    --dark-blue-2: #265d88;
    --dark-blue-3: #194d73;
    --dark-blue-4: #143e67;
    --dark-blue-5: #0f2f5c;
    --dark-blue-6: #052f5f;
    --dark-blue-7: #043459;
    --dark-blue-8: #022357;
    --dark-blue-9: #001744;
    --dark-blue-10: #000b2d;

    --dark-gray-1: #1a1a1a;
  
    --dark-gray-2: #252525;
    
    --dark-gray-3: #303030;
    
    --dark-gray-4: #3b3b3b;
  
    --dark-gray-5: #454545;

    --dark-gray-6: #4f4f4f;

    --dark-gray-7: #5a5a5a;

    --dark-gray-8: #646464;

    --dark-gray-9: #6e6e6e;

    --dark-gray-10: #797979;

    --dark-gray-11: #cccccc;

    --dark-gray-12: #8d8d8d;

    --dark-gray-13: #989898;

}



/* basis background colors */
.bk-light {
    background-color: var(--primL);
}
.bk-dark {
    background-color: var(--primD);
}
.bk-succ {
    background-color: var(--succ);
}
.bk-warn {
    background-color: var(--warn);
}
.bk-danger {
    background-color: var(--danger);
}
.bk-obsc {
    background-color: var(--obsc);
}
.bk-lum {
    background-color: var(--lum);
}

.bk-shadow {
    background-color: rgba(0, 0, 0, 0.5);
}
/* basis text colors */
.txt-light {
    color: var(--primL);
}
.txt-dark {
    color: var(--primD);
}
.txt-succ {
    color: var(--succ);
}
.txt-warn {
    color: var(--warn);
}
.txt-danger {
    color: var(--danger);
}
.txt-obsc {
    color: var(--obsc);
}
.txt-lum {
    color: var(--lum);
}

.txt-fab {
    color: #bbbbbb;
}

.hr-succ {
    border: 1px solid var(--succ);
}