.centVH {
    height: 100vh;
}

.img-bk {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fluid {
    width: 100%;
}

.relative {
    position: relative;
}

.img-mobile-bk {
    display: none;
    position : absolute;
    top: 0;
    left: 0;
    width: 100vh
}

.disp-block {
    display: block;
}

.disp-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disp-col-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 