.modl-container {
    position: relative;
}

.modl {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 576px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in;
}

// .img-mobile-bk {
//     display: none;
//     position : absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     width: 100vh
// }

.modl-content {
    width: 100%;
    max-width: 576px;  
    border-radius: 5px;
    transform: translateY(-100px);
    transition: all 0.5s ease-out;
}

// @media (max-width: 768px) {
//     .img-mobile-bk {
//         display: block;
//     }
// }

