@import '~bootstrap';

@import "block.scss";
@import "display.scss";
@import "margin.scss";
@import "font.scss";
@import "color.scss";
@import "shadow.scss";
@import "form.scss";
@import "buttons.scss";
@import "modal.scss";

body {
    background-color: #1a1a1a;
    display : flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 992px;
    // background: linear-gradient(to top, #000000, #252525);
    display: flex;
    justify-content: space-evenly
}

.trunk {
    width: 100%;
    max-width: 768px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden; 
}

main {
    width: 100%;
    max-width: 576px;
    
}



@media (max-width: 992px) {

}

@media (max-width: 768px) {

}    