{% extends 'base.html.twig' %}


    {% block title %}INSIDIOME - ENTER{% endblock %}
    {% block og_title %}INSIDIOME - ENTER{% endblock %}

    {% block description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}
    {% block og_description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}

    {% block keywords %}insidiome, bdsm, life style, lifestyle, life-style, life, style, lifesty{% endblock %}

    {% block canonical %}https://insidiome.fr{% endblock %}
    {% block og_link %}https://insidiome.fr{% endblock %}

    {% block og_image %}https://www.insidiome.com/build/img/gen/room1.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}ndex,follow{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('general') }}
    <style>

    </style>   
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('popModal') }}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Insidiome - Page d'entrée",
        "description": "Page d'entrée du site Insidiome - choix de la langue",
        "url": "https://insidiome.fr/",
        "headline": "Insidiome - Entrer",
        
        "publisher": {
            "@type": "Organization",
            "name": "Insidiome",
            "logo": {
            "@type": "ImageObject",
            "url": "https://www.insidiome.com/build/img/gen/logo.png"
            }
        },
        
        "image": {
            "@type": "ImageObject",
            "url": "https://www.insidiome.com/build/img/gen/room1.jpg" 
        },
        
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://insidiome.fr/"
        }
    }
    </script>
{% endblock %}

{% block body %}
    <main class="centVH img-bk" style="background-image: url({{ asset('build/img/gen/mobile.jpg') }});">
        <div class="modal fade " id="popModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog centVH disp-center">
                <div class="modal-content bk-shdw1 padx1 pady2">
                    <h1 class="txt-succ">INSIDIOME</h1>
                    <h2 class="txt-succ">BDSM life style</h2>
                    <p class="notranslate" translate="no">INSIDe Of ME</p>
                    <p class="notranslate" translate="no">INSIDe mY hOME</p>
                    <p class="notranslate" translate="no">IN Self IDIOME</p>
                    <div class="row">
                        <p>Choisissez - Choose</p>
                        <div class="col-1 col-sm-2">
                        </div>
                        <div class="col-4 col-sm-3">
                            {# <a href="{{ path('app_start_fr') }}"> #}
                                <img src="{{ asset('build/img/gen/fr.png') }}" alt="En Français" class="img-fluid"> 
                            {# </a> #}
                        </div>
                        <div class="col-2 col-sm-2">
                        </div>
                        <div class="col-4 col-sm-3">
                            {# <a href="{{ path('app_start_eng') }}"> #}
                                <img src="{{ asset('build/img/gen/en.png') }}" alt="In English" class="img-fluid">
                            {# </a> #}
                        </div>
                        <div class="p-2"></div>
                        <div class="col-1 col-sm-2">
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </main>
 
{% endblock %}
