{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('general') }}   
{% endblock %}

{% block javascripts %}   
{% endblock %}

{% block body %}

<section>
    <div>
        <h1>TestController</h1>
        <p>TestController</p>
    </div>
</section>
{% endblock %}
