<!DOCTYPE html>
{# templatede de base base.html.twig #}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" href="https://www.insidiome.com/build/img/gen/logo.png" />
  
            <title>{% block title %}{% endblock %}</title>

            <meta name="description" content="{% block description %}{% endblock %}"/>
            <meta name="robots" content="{% block robots %}{% endblock %}"/>
            <meta name="author" content="Him of INSIDIOME"/>
            <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
            <link rel="canonical" href="{% block canonical %}{% endblock %}"/>
            <meta property="og:title" content="{% block og_title %}{% endblock %}"/>
            <meta property="og:description" content="{% block og_description %}{% endblock %}"/> 
            <meta property="og:image" content="{% block og_image %}{% endblock %}"/>
            {# jpeg paysage 1200x630 #}
            <meta property="og:url" content="{% block og_link %}{% endblock %}"/>
            <meta property="og:type" content="{% block og_type %}{% endblock %}"/>
            <meta property="og:locale" content="{% block og_locale %}{% endblock %}"/>
            {# fr_FR, en_US #}
            {# types : website, article, book, profile, video, music, quiz, game, product, app, event, group, website, blog, object,  author #}
            <meta property="og:author" content="Him of INSIDIOME">
            <meta property="og:site_name" content="INSIDIOME">
            <link rel="robots" href="https://www.insidiome.com/robots.txt">
            <meta name="robots" content="{% block robots %}{% endblock %}"> 
            <!-- Indexer et crawler cette page :index,follow -->
            <!-- Ne pas indexer mais crawler cette page : noindex,follow -->
            <!-- Ne pas indexer ni crawler cette page : noindex,nofollow-->
            <link rel="sitemap" href="https://www.insidiome.com/sitemap.xml">


        {% block stylesheets %}
            {# {{ encore_entry_link_tags('general') }} #}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
            {% block body %}{% endblock %}
        
    </body>
</html>
